body{
  background-color: #e6e4da;
}

#divBusca{
  
  border:solid 1px;
  border-radius:15px;
  width:300px;

}

#txtBusca{

  border-radius: 15PX;
  background-color:#F1F1F1;
  padding-left:5px;
  font-style: normal; 
  font-size:16px;
  border:none;
  height:32px;
  width:300px;

  
}

.row{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.logo{
  border: #E0EEEE solid 4px;
  border-radius: 50%;
  height: 150px;
  margin-top: 220px;
  text-align: 100px;
}
.container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.col-md-12{
  display: flex;
  justify-content: center;
  align-items: center;
}
