HTML, BODY{
margin: 0px;
height:100%;
width:100%;
}

body{
  background-color: #e6e4da;
}

#divBusca{
  border-radius:15px;
  width:300px;

}

#txtBusca{

  border-radius: 15PX;
  background-color:#F1F1F1;
  padding-left:5px;
  font-style: normal; 
  font-size:16px;
  border:none;
  height:32px;
  width:300px;

  
}

.row{
  width:80%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.logo{
  border: #E0EEEE solid 4px;
  border-radius: 50%;
  height: 150px;
  text-align: 100px;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.col-md-12{
  height:30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  height:50%;
}

.footer{

  height:20%;

}



.sugest-name:hover{
  cursor: pointer;
}



#menuIndex {
border-radius: 20px;
}

.menu{
height:100%;
  
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-direction:column;
  
border-radius:2px;
border:solid;
background-color:white;
text-align: center;
border-radius:10px;
color: black;
font-size: 32px;
font-family: roboto;
}

.MenuButton{
color:black;
border-radius:4px;
cursor:pointer;
}

.MenuButton:hover{
color:white;
background-color:black;
border-color:green;
}


.sobre{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
#btnBusca{
  justify-content: center;
  border-radius: 12px;
  background-color:#8b4513;
  color:white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor:pointer;
  margin-top: 5%;
   height: 10%;
  width: 20%;
  font-size: 3vh;
  display: flex;
}

#button1{
  display: flex;
  justify-content: center;
}
.sugest-name{
  border-radius: 12px;
  background-color:#fff2e9;
  color:rgb(0, 0, 0);
  cursor:pointer;
  margin-top: 8%;
}
.sugests{
  border-radius: 12px;
  color:black;
  cursor:pointer;
  margin-top: 5%;

}



#loginForm{
  height: 10%;
}

#chatbotrow{
  width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

#chatbot{
  height: 100%;
  width: 80%;
}

.col-12{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.searchresultMenu{

    background-color: white;
    width: 20%;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    border: solid black 0.05vh;
    border-radius: 2vh;
  
}

#recipecontent{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recipe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 0.01vh;
  background-image: linear-gradient(rgb(255, 255, 255),rgb(222, 221, 253));
}

.titleRecipe{
  align-self: center;
}

.imgingred{
  border: solid black 0.05vh;
  display: flex;
  flex-direction: row;
}

.imageRecipe{
  justify-self: flex-start;
  border-right: solid black 0.05vh;
}

.ingredientes{
  background-image: linear-gradient(white,rgb(254, 219, 219));
  width: 100%;
  justify-self: center;
}
.ingredientes h2{
  border-bottom: solid black 0.05vh;
  margin: 0vh;
  text-align: center;
}

#rcpimg{
  width: 12vh;
  height: 12vh;
}

.footerB{
  border-radius: 2vh;
  border-color:#4f8888;
  background-color:#dfe4e4;
  color:rgb(6, 6, 6);
  cursor:pointer;
  margin-top: 5%;
  font-size: 2vh;
}
#fotogrupo{
  margin-top: 2vh;
  border-radius: 10vh;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.espaco{
  margin-top: 15vh;
}

